<div class="panel">
  <div class="panel-heading">
    <a href="/collab/{{slug}}"><h3 class="panel-title">{{name}}</h3></a>
  </div>
  <div class="panel-body">
    {{#each members}}
      <img class="img-rounded" src="http://graph.facebook.com/{{this.fbid}}/picture" width="40" data-placement="bottom" title="{{this.name}}"> &nbsp; 
    {{/each}}
    <hr>
    <div class="alert alert-warning">
      <h5><strong>Next Meeting</strong><h5>
      Date: <strong>{{meeting.date}}</strong>, <strong>{{meeting.time}}</strong><br>
      Venue: <strong>{{meeting.venue}}</strong>
    </div>
    <p>{{description}}</p>
    <a class="btn btn-default btn-block" href="/collab/{{slug}}">View Dashboard</a>
  </div>
</div>
