<div class="panel">
  <div class="panel-heading">
    <a href="/collab/{{slug}}"><h3 class="panel-title">{{name}}</h3></a>
  </div>
  <div class="panel-body">
    {{#each members}}
      <img class="img-rounded" src="http://graph.facebook.com/{{this.fbid}}/picture" width="40" data-placement="bottom" title="{{this.name}}"> &nbsp; 
    {{/each}}
    <hr>
    <h4>Description</h4>
    <p>{{description}}</p>
    <a class="btn btn-default btn-block" href="/collab/{{slug}}">View Dashboard</a>
  </div>
</div>
